/*!
 * Marp default theme.
 *
 * @theme neobeam-dsek
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1090px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
    /* Primary, and variations */
    --primary:          #f280a1;
    --saturation-multiplier: 1;
    --saturation-decreaser: .5;
    --brightness-multiplier: .5;
    --brightness-decreaser: .75;
    --color-shift: 180;
}