/*!
 * Neobeam - A modern take on LaTeX beamer | LTH Infocom version
 *
 * @theme neobeam-csek
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1090px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
    /* Primary, and variations */
    --primary:          #9966CC;
    --saturation-multiplier: 2;
    --saturation-decreaser: .5;
    --brightness-multiplier: 1;
    --brightness-decreaser: 1.25;
    --color-shift: 50;

    --default-font: "Helvetica";
    --monospace-font: "Roboto Mono";
    --math-font: "Noto Sans Math";
}