/*!
 * Neobeam - A modern take on LaTeX beamer | Faithful beamerv version
 *
 * @theme neobeam-beamer
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1090px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
    /* Primary, and variations */
    --primary:          #3333b2;
    --saturation-multiplier: .6;
    --saturation-decreaser: .25;
    --brightness-multiplier: 1.4;
    --brightness-decreaser: 1;
    --color-shift: 120;
}