/*!
 * Neobeam - A modern take on LaTeX beamer | LTH Datasektionen version
 *
 * @theme neobeam-dsek
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1090px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
    /* Primary, and variations */
    --primary:          #f280a1;
    --saturation-multiplier: 1;
    --saturation-decreaser: 0.65;
    --brightness-multiplier: .65;
    --brightness-decreaser: .55;
    --color-shift: 180;

    --default-font: "Helvetica";
    --monospace-font: "Roboto Mono";
    --math-font: "Noto Sans Math";
}